*{
margin: 0px;
padding:0px;
box-sizing: border-box;
}
header{
	background: #fd79a8;
	color: #1e272e;
	height: 20vh;
}
.main{
 background:#ea8685;
 clear: both; /* preventivo */
}
footer{
	background:#ea8685;
	color: #636e72;
}
h1{
	text-align: center;
	font-size: 55px;
}
.logo{
	width: 35vw;
	height: 20vh;
	background-color: cyan;
	float: left;
}
.logo > img {
 width:35vw;
 height:20vh;
 }	
.menu{
	float:cent;
	display: flex;
}
.menu > div {
	display: flex;
	justify-content: center;
	align-items: center;

	font-weight: bolder;
	font-size: 1.1rem ;
	background-color:#ecf0f1;
	width: 8vw;
	text-align: center;
	border: dotted 1px white;
	height: 20vh;
	cursor: pointer;
	transition: 0.5s;
}

.menu > div:hover{
	background-color:#fd79a8;
	font-size: 1.2rem;
	justify-content: center;
	transition: 0.5s;
}
.banner{
width: 100vw;
height: 100vh;
background: #f78fb3;

background-image: url("imgs/cup.jpg");
background-repeat: no-repeat;
background-position: center;
background-size:100% 100% ;

}

.slogan{
	max-width: 100vw;
	height: 90vw;
	background: cyan;

	font-family: "Edu AU VIC WA NT pre";

	text-transform: uppercase;
	font-size: 2.5rem;
	color: #fd79a8;
	text-align: center;/*espaço interno entre conteudo e a borda do elemento*/
	letter-spacing: 3.5px;

	/* position fixed;
	position relative*/
	position: absolute;
	top: 10vh;
}
.sobre {
	display: flex;
	text-align: center;
/*	font-size: 2.5px;*/
   padding-bottom: 50px;
}
.item-1{
	padding: 15px;
}
.pai {
	display: flex;
	flex-direction: row;
	background-color: cyan;
}

.circulo{
	height: 500px;
	width: 500px;
	background-color:#fd79a8;
	border-radius: 50%;
	text-align: center;
	float: left;

	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;
}
.circulo > h2{
	position: absolute;
	top: 50px;

}
/*.circulo2{
	height: 500px;
	width: 500px;
	background-color:#fd79a8;
	border-radius: 50%;
	text-align: center;
	float: left;
}
.circulo3{
	height: 500px;
	width: 500px;
	background-color:#fd79a8;
	border-radius: 50%;
	text-align: center;
	float: left;
}
*/
.f1{
	float: left;
	width: 30%;
	margin: 10px;
	text-align: center;
	padding: 20px;
}
.f2{
	float: left;
	width: 30%;
	margin: 10px;
	text-align: center;
	padding: 20px;
}
.f3{
	float: left;
	width: 30%;
	margin: 10px;
	text-align: center;
	padding: 20px;
}

.Aval{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

/*	border: 1px solid blue;*/
}

#img1{
	flex: 1;
	text-align: center;
/*	border: 1px solid blue;*/
}
#img2{
	flex: 2;
	text-align: center;
/*	border: 1px solid blue;*/
}
#img3{
	flex: 1;
	text-align: center;
/*	border: 1px solid blue;*/
}

.Aval > #img2 > img {
	width: 90%;
}
.Aval > #img1 > img {
	width: 90%;
}
.Aval > #img3 > img {
	width: 90%;
}